

<footer>
    <div class="container">
        <div class="row">
            
            <div class="col-md-3 text-center">
                <a class="social-url no_hijax" href="http://github.com/daslicht" target="_blank">
                    <img class="social-icon" src="{{site.theme.link}}/assets/image/github.svg">
                </a>
            </div>
            

            <div class="col-md-3 text-center">
                <a class="social-url no_hijax" href="http://soundcloud.com/ansolas" target="_blank">
                    <img class="social-icon" src="{{site.theme.link}}/assets/image/soundcloud.svg">
                </a>
            </div>



            <div class="col-md-3 text-center">
                <a class="social-url no_hijax"href="http://facebook.com/ansolas" target="_blank">
                    <img class="social-icon" src="{{site.theme.link}}/assets/image/facebook.svg">
                </a>
            </div>

            <div class="col-md-3 text-center">
                <a class="social-url no_hijax" href="http://twitter.com/ansolas" target="_blank">
                    <img class="social-icon" src="{{site.theme.link}}/assets/image/twitter.svg">
                </a>
            </div>
        <!--     <div class="col-lg-12 text-center">
                <p>Copyright &copy; ANSOLAS 2015</p>
            </div> -->
        </div>
        <div id="footer_imprint" class="row">
            <div class="col-md-12 text-center">
                    {# <p>Marc Wensauer <img src="/assets/image/icon_alone.svg"/>  {{"now"|date('Y')}}</p> #}
            </div>
        </div>
    </div>
    <!--wp footer:-->
	{{ function('wp_footer') }}
</footer>
