<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{site.language_attributes}}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{site.language_attributes}}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{site.language_attributes}}> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" {{site.language_attributes}}> <!--<![endif]-->

	{% include 'includes/head.twig' %}

	<body class="{{body_class}}" data-template="base.twig">
	    
	    <canvas style="display:none" id="canvas" width="570" height="570"></canvas>
	    <canvas style="display:none" id="canvas3" width="570" height="570"></canvas>
	    <canvas id="canvas2" width="570" height="570">*** THIS BROWSER DOES NOT SUPPORT THE CANVAS ELEMENT ***</canvas>
		
{# 		    <div id="language-container">
        <a href="http://ansolas.de">
            <img class="language-icon" src="/assets/image/flag/de.svg">
        </a>
        <a href="http://ansolas.com">
            <img class="language-icon" src="/assets/image/flag/gb.svg">
        </a>
    </div> #}
    
{#     <li class="nav-item  qtranxs-lang-menu qtranxs-lang-menu-en menu-item menu-item-type-custom menu-item-object-custom menu-item-7 menu-item-has-children">
        <a class="nav-link" href="#qtransLangSwLM#">Language:&nbsp;<img src="http://marcwensauer.de/wp-content/plugins/qtranslate-x-master/flags/gb.png" alt="English"></a>
        <ul class="nav nav-drop">
            <li class="nav-drop-item">
                <a class="nav-link" href="http://marcwensauer.de/de/"><img src="http://marcwensauer.de/wp-content/plugins/qtranslate-x-master/flags/de.png" alt="Deutsch">&nbsp;Deutsch</a>
			</li>
			<li class="nav-drop-item">
				<a class="nav-link" href=""><img src="http://marcwensauer.de/wp-content/plugins/qtranslate-x-master/flags/gb.png" alt="English">&nbsp;English</a>
			</li>
        </ul>
    </li> #}

		<header class="header" >
			{% block header %}
				<div class="wrapper">

					<h1 class="hdr-logo text-center" role="banner">
						
						<img id="logo" class="img-responsive" style="" src="{{site.theme.link}}/assets/image/MarcWensauerLogo2015.svg"/>
					
					</h1>
				
					{% include 'includes/navigation.twig'%}

				</div>
			{% endblock %}
		</header>

		<div class="container" id="main_container">
			<section id="content" class="content" role="main" class="content-wrapper">
 				<div class="row">
 					<div class="box">
 					{{function(	'qtranxf_generateLanguageSelectCode','image')}}

 {# 					<ul class="qtranxs_language_chooser" id="qtranslate-chooser">
						<li class="lang-de active">
						<a href="http://marcwensauer.de/de/kontakt/" hreflang="de" title="Deutsch" class="qtranxs_image qtranxs_image_de"><img src="http://marcwensauer.de/wp-content/plugins/qtranslate-x/flags/de.png" alt="Deutsch"><span style="display:none">Deutsch</span></a></li>
						<li class="lang-en"><a href="http://marcwensauer.de/en/contact/" hreflang="en" title="English" class="qtranxs_image qtranxs_image_en"><img src="http://marcwensauer.de/wp-content/plugins/qtranslate-x/flags/gb.png" alt="English"><span style="display:none">English</span></a></li>
					</ul> #}

		{# 				<div class="col-lg-12">
							<hr>
								<h2 class="intro-text text-center">
									{% if title %}<h1>{{title}}</h1>{% endif %}
								</h2>
							<hr>
						</div> #}
						<div>
							<div class="wrapper {{sidebar_class}}">
								{% block content %}
									Sorry, no content
								{% endblock %}
							</div>
							{% if sidebar %}
								<aside class="layout-sidebar">
									{{sidebar}}
								</aside>
							{% endif %}	
						</div> 
						 <div class="clearfix"></div>
					</div>
				</div>
			</section>
		</div>


		{% include 'includes/footer.twig' %}
		
				
	</body>
</html>